* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #060D27;
    font-family: "inter", sans-serif;
    color: white;

    width: 100%;
    min-height: 100vh;
    margin: 55px auto 0;
    padding: 55px 40px 0;
    max-width: 1400px;
}


main {
    text-align: center;

    margin-bottom: 140px;
    font-size: 70px;
    font-weight: 800;
}


.logo {
    position: absolute;
    right: 60px;

    margin-top: -25px;
    width: 150px;
    height: auto;
}

.voltar {
    width: 80px;
    height: 80px;
    border: 1px solid #3EC6FF;
    border-radius: 50%;
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s;
}

.voltar span {
    position: absolute;

    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);
}


.voltar:hover {
    background-color: #17405c;
    transform: scale(1.1);
}


.titulo {
    text-align: center;
    font-family: "Baloo Bhai 2", sans-serif;
    margin-top: 10px;

}


.titulo h1 {
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 12px;

}


.nome-cientifico {
    display: inline-block;
    border: 1px solid #67CAFF;
    padding: 8px 70px;
    border-radius: 50px;
    color: #67CAFF;
    font-family: "Kite One", sans-serif;
    font-size: 35px;
    font-weight: 300;
}

.introducao {
    width: 87%;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.texto {
    width: 55%;
}


.texto p {
    color: #ffff;
    font-size: 30px;
    font-weight: 450;
    line-height: 1.7;
    font-family: "Montagu Slab", serif;
}

.imagem-principal {
    width: 60%;
}

.imagem-principal img {
    width: 100%;
    max-height: 800px;
    object-fit: contain;
}

.curiosidades {
    width: 87%;
    margin: 30px auto 0;
    border: 1px solid #67CAFF;
    border-radius: 60px;
    padding: 35px;
    background-color: #0D1933;
}

.curiosidades h2 {
    color: #67CAFF;
    margin-bottom: 30px;
    font-size: 40px;
}

.grid-curiosidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 50px;
}

.grid-curiosidades h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffff;
}

.grid-curiosidades p {
    color: #67CAFF;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}


.imagens-curiosidades {
    display: flex;
    gap: 55px;
    margin-top: 80px;

}

.imagens-curiosidades img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.voce-sabia {
    width: 87%;
    margin: 30px auto 0;
    border: 1px solid #3EC6FF;
    border-radius: 60px;
    padding: 25px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #0D1933;
}

.sabia-texto {
    width: 65%;
}

.voce-sabia h2 {
    color: #8fc5e8;
    font-size: 30px;
    margin-bottom: 15px;
}

.voce-sabia p {
    color: #c5d0d9;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
}

.voce-sabia img {
    width: 700px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.rodape {
    width: 100vw;
    min-height: 480px;
    background: #03081A;
    margin-left: calc(50% - 50vw);
    margin-top: 100px;
    padding: 80px 170px 35px;
    color: white;
    background: linear-gradient(to bottom,
            rgba(3, 8, 26, 0) 0px,
            #03081A 130px);
}

.conteudo-rodape {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-rodape {
    width: 250px;
}

.logo-rodape img {
    width: 180px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.logo-rodape p {
    color: #67CAFF;
    font-family: "Montagu Slab", serif;
    font-size: 15px;
    line-height: 1.25;
    margin: 0;
}

.menu-rodape {
    width: 150px;
    margin-top: 55px;

    display: flex;
    flex-direction: column;
}

.menu-rodape h2 {
    color: #67CAFF;
    font-family: "Montagu Slab", serif;
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 800;
}

.menu-rodape a {
    color: white;
    text-decoration: none;
    font-family: "Montagu Slab", serif;
    font-size: 15px;
    line-height: 1.35;
}

.menu-rodape a:hover {
    color: #67CAFF;
}

.linha-rodape {
    width: 100%;
    height: 1px;
    background: #67CAFF;

    margin-top: 75px;
}

.BioSea {
    text-align: center;
    color: white;
    font-family: "Montagu Slab", serif;
    font-size: 11px;
    margin-top: 38px;
}