* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}


body {
    background: #011528;
    margin-bottom: 200px;
    background: url('imagens/fundo-quiz.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 110px;
    font-size: 70px;
    padding-top: 70px;
    font-weight: 800;
    font-family: "Baloo Bhai 2", cursive;
}


p {
    text-align: center;
    color: #1CBBC0;
    font-weight: 800;
    font-size: 40px;
    font-family: "Baloo Bhai 2", cursive;
}

.app {
    background: #0A4A85;
    width: 100%;
    max-width: 700px;
    margin: 90px auto 0;
    border-radius: 19px;
    padding: 30px;
    background-color: #0b2853;
    margin-top: 50px;
    padding: 0px 30px 30px 30px;
    font-family: "Baloo Bhai 2", cursive;
}

header {
    height: 120px;
    width: 100vw;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 30px;
}

.logo img {
    width: 150px;
    margin-top: 15px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Montagu Slab", serif;
    font-size: 1.6rem;
}

.menu ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    display: inline-block;
    transition: ease-in-out 0.4s;
    font-size: 1.6rem;
}

.menu a:hover {
    transform: scale(1.1);
    font-weight: bold;
}



.app h1{
    font-size: 35px;
    color: aliceblue;
    font-weight: 690;
    border-bottom: 1px solid #c7c1c1;
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    margin: 0;
    margin-bottom: 10px;

}


.quiz {
    padding: 18px;

   
}


.quiz h2{
    font-size: 23px;
    color: #e1e1e1;
    font-weight: 600;
    padding-bottom: 30px;
       
}


.btn {
    background: #0A4A85;
    color: #cacacb;
    font-weight: 500;
    width: 100%;
    border: 1px solid #777779;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
        
}


.btn:hover:not([disabled]) {
    background: #2e376b;
    color: #fff;
}



.btn:disabled{
    cursor: no-drop;
}


.fossa {
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    
    
}


#botao {
   font-family: monospace;
    background: #073c6b;
    color: #d5d5d6;
    font-weight: 500;
    width: 300px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    display: block;

}

.botao:hover {
    background: #2e376b;
    color: #fff;
    cursor: pointer;
}